<span style='color: #000'>532 frames</span>	<span style='color: #900'>19,712 KB</span>	<span style='color: #090'>5,777.56 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />